.ingredients-panel {
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .ingredients-panel .panel-body {
    height: 100%;
  }

  .ingredients-list-container {
    overflow-y: auto;
    max-height: 70%;
  }
}

.ingredients-go-button {
  margin-top: 10px;
  width: 100%;
}