.ingredient-list-item-value {
  padding: 10px;
  background-color: #fefefe;
  border: 1px solid #777;
  border-radius: 6px 0 0 6px;
  word-wrap: break-word;
  width: 100%;
}

.ingredient-list-item {
  display: flex;
  margin-top: 20px;
}

.btn.btn-ingredient-list-item {
  font-size: 12px;
  height: 100%;
  border-radius: 0 6px 6px 0;
  border-left: none;
  padding: 0 15px;
}
